* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(82, 36, 19);
  color: white;
  padding: 2.2rem;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;
}
